<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103061184777-7mdlsoimibublk57o4dluqtmk07ffh78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103061184777-7mdlsoimibublk57o4dluqtmk07ffh78</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>103061184777-bfachiipk1ovpd00en9v8oag67eh96q6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7emrgem10rbF8iXvJhfIWHutjuuptZbo</string>
	<key>GCM_SENDER_ID</key>
	<string>103061184777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snt.hermifyapp</string>
	<key>PROJECT_ID</key>
	<string>hermifyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hermifyapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103061184777:ios:cbec6d43f601e84227f3d8</string>
</dict>
</plist>